## 1. 练习python列表，字典转series与df

In [2]:
import pandas as pd

# Series的定义
# 1. 列表创建，默认索引
s1 = pd.Series([10, 20, 30, 40, 50])
print(s1)

# 2. 列表创建，自定义索引
s2 = pd.Series([10, 20, 30, 40, 50], index=['a', 'c', 'c', 'd', 'e'])
print(s2)

# 3. 字典创建(key是索引，value是值)
s3 = pd.Series({"Alice":85, "Bob":90, "Charlie":78, "David":92})
print(s3)

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
c    20
c    30
d    40
e    50
dtype: int64
Alice      85
Bob        90
Charlie    78
David      92
dtype: int64

In [14]:
import pandas as pd
import numpy as np

data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
# 1. 字典创建（字典键为列名，值为列数据）
df = pd.DataFrame(data)
print(df)

# 2. 自定义行索引
df = pd.DataFrame(data,index=['s1', 's2', 's3', 's4'])
print(df)

# 3. 通过ndarray构建Dataframe
arr1 = np.arange(12).reshape(3,4)
df2 = pd.DataFrame(arr1)
print(df2)

# 注意: 依然具有广播的特性
data2 = {
    "name":['zs','ls','ww'],
    "gender":"未知",
    "height":[180,180,190]
}
df2 = pd.DataFrame(data2)
df2

      name  age  score gender
0    Alice   20     85      女
1      Bob   22     90      男
2  Charlie   21     78      男
3    David   20     92      男
       name  age  score gender
s1    Alice   20     85      女
s2      Bob   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
   0  1   2   3
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

  name gender  height
0   zs     未知     180
1   ls     未知     180
2   ww     未知     190

## 2、练习series和df的索引操作

In [21]:
s1=pd.Series(['A','B','C','D'],index=['001','002','003','004'])
print(s1)
print(s1[0])  #未来版本中，s1[0]将被视为标签，而不是位置索引
print(s1['002'])

#推荐
print(s1.iloc[2])
print(s1.loc['002'])

001    A
002    B
003    C
004    D
dtype: object
A
B
C
B

C:\Users\lenovo\AppData\Local\Temp\ipykernel_32956\3148171472.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s1[0])  #未来版本中，s1[0]将被视为标签，而不是位置索引

In [22]:
print(s1.loc[['002','004']])
print('-'*20)



print(s1.iloc[[1,3]])
print('-'*30)


print(s1.loc['002':'004'])      # 通过索引名取值是【左闭右闭】
print('-'*20)
print(s1.iloc[0:2])              # 通过索引位置取值是【左闭右开】

002    B
004    D
dtype: object
--------------------
002    B
004    D
dtype: object
------------------------------
002    B
003    C
004    D
dtype: object
--------------------
001    A
002    B
dtype: object

In [26]:
df = pd.DataFrame(np.arange(12).reshape(3,4),index=['s1','s2','s3'],columns=['c1','c2','c3','c4'])
print("原始数据:")
print(df)

# 1. 通过列索引获取值
print("通过列索引获取值:")
print(df[['c2']])
print(type(df[['c2']]))
print(df['c2'])
print(type(df['c2']))

# 2. 通过多个列索引获取多个列的值
print("通过多个列索引获取多个列的值")
print(df[['c2','c4']])

# 3. 通过行索引获取行数据
print("通过行索引获取行数据:")
print(df.loc['s2'])

原始数据:
    c1  c2  c3  c4
s1   0   1   2   3
s2   4   5   6   7
s3   8   9  10  11
通过列索引获取值:
    c2
s1   1
s2   5
s3   9
<class 'pandas.core.frame.DataFrame'>
s1    1
s2    5
s3    9
Name: c2, dtype: int64
<class 'pandas.core.series.Series'>
通过多个列索引获取多个列的值
    c2  c4
s1   1   3
s2   5   7
s3   9  11
通过行索引获取行数据:
c1    4
c2    5
c3    6
c4    7
Name: s2, dtype: int64

In [31]:
# 4. 通过多个行索引获取多个行数据
print("通过多个行索引获取多个行数据:")
print(df.loc[['s1','s3']])

# 5. 通过位置索引获取一行的值
print("通过位置索引获取一行的值:")
print(df.iloc[1])

# 6. 通过位置索引获取多行数据
print("通过位置索引获取多行数据:")
print(df.iloc[[0,2]])

# 7. 获取具体位置的值
print("获取具体位置的值:")
print(df.iloc[1,2])         # 前面是行，后面是列


# 8. 通过位置索引切片获取数据
print("通过位置索引切片获取数据:")
print(df.iloc[0:2,1:3])     # 前面是行，后面是列，左闭右开

# 9. 通过名字索引切片获取数据
print("通过名字索引切片获取数据:")
print(df.loc['s1':'s3','c2':'c4'])  # 前面是行，后面是列，左闭右闭

# 10. 一次取多个不连续的行或者列
print(df.iloc[[1,2],[0,3]])  # 前面是行，后面是列
#改为loc实现上一行
print(df.loc[['s2','s3'],['c1','c4']])

通过多个行索引获取多个行数据:
    c1  c2  c3  c4
s1   0   1   2   3
s3   8   9  10  11
通过位置索引获取一行的值:
c1    4
c2    5
c3    6
c4    7
Name: s2, dtype: int64
通过位置索引获取多行数据:
    c1  c2  c3  c4
s1   0   1   2   3
s3   8   9  10  11
获取具体位置的值:
6
通过位置索引切片获取数据:
    c2  c3
s1   1   2
s2   5   6
通过名字索引切片获取数据:
    c2  c3  c4
s1   1   2   3
s2   5   6   7
s3   9  10  11
    c1  c4
s2   4   7
s3   8  11
    c1  c4
s2   4   7
s3   8  11

In [34]:
#numpy和pandas的区别
arr = np.arange(1, 13).reshape(3, 4)
print(arr)

print(arr[[1,2],[0,3]]) #取的是1行0列 和 2行3列的元素
print(arr[1:3, [0, 3]]) # 1:3表示行索引，[0, 3]表示列索引

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[ 5 12]
[[ 5  8]
 [ 9 12]]

## 3、完成重复值去除，缺失值删除，缺失值填充练习

In [37]:
# 创建一个数据表
data = {
    "name": ["Alice", "Alice", "Charlie", "David", "Alice", "Charlie"],
    "age": [20, 22, 21, 20, 20, 21],
    "score": [85, 90, 78, 92, 85, 78],
    "gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print(df)

# 1. 检测重复值
print(df.duplicated())      # 返回布尔Series，True表示重复行
print('-'*20)
print(df.duplicated(keep='last'))  
print('-'*20)
print(df.duplicated(subset=['name']))

       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
s1    False
s2    False
s3    False
s4    False
s5     True
s6     True
dtype: bool
--------------------
s1     True
s2    False
s3     True
s4    False
s5    False
s6    False
dtype: bool
--------------------
s1    False
s2     True
s3    False
s4    False
s5     True
s6     True
dtype: bool

In [39]:
# 创建一个数据表
data = {
    "name": ["Alice", "Alice", "Charlie", "David", "Alice", "Charlie"],
    "age": [20, 22, 21, 20, 20, 21],
    "score": [85, 90, 78, 92, 85, 78],
    "gender": ["女", "男", "男", "男", "女", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print("原数据:")
print(df)

# 1. 删除完全重复的行,返回一个新的DataFrame
df_drop_dup = df.drop_duplicates()
print("删除完全重复的行:")
print(df_drop_dup)

# 2. 删除部分列重复的行
df_drop_dup_by_col = df.drop_duplicates(subset=['name'], keep='first')
print("删除部分列重复的行:")
print(df_drop_dup_by_col)
print(df)

# 3. 直接在原数据上删除
df.drop_duplicates(inplace=True)
print("直接在原数据上删除:")
print(df)

原数据:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
删除完全重复的行:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
删除部分列重复的行:
       name  age  score gender
s1    Alice   20     85      女
s3  Charlie   21     78      男
s4    David   20     92      男
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
s5    Alice   20     85      女
s6  Charlie   21     78      男
直接在原数据上删除:
       name  age  score gender
s1    Alice   20     85      女
s2    Alice   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男

In [42]:
# 1. 创建一个数据表
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, np.nan],
    "score": [85, 90, np.nan, 92, 85, np.nan],
    "gender": ["女", "男", "男", np.nan, np.nan,np.nan]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print(df)
print('*'*50)   
print(df.info())
# 2. 检测缺失值
print('*'*50) 
print(df.isnull())

# 3. 计算缺失个数
print("每一列缺失个数:")
print(df.isnull().sum())
print(type(df.isnull().sum()))

print("每一行缺失个数:")
print(df.isnull().sum(axis=1))

       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0    NaN
s5      Eva  20.0   85.0    NaN
s6    Frank   NaN    NaN    NaN
**************************************************
<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, s1 to s6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   score   4 non-null      float64
 3   gender  3 non-null      object
dtypes: float64(2), object(2)
memory usage: 240.0+ bytes
None
**************************************************
     name    age  score  gender
s1  False  False  False   False
s2  False  False  False   False
s3  False  False   True   False
s4  False  False  False    True
s5  False  False  False    True
s6  False   True   True    True
每一列缺失个数:
name      0
age       1
score     2
gender    3
dtype: int64
<class 'pandas.core.series.Series'>
每一行缺失个数:
s1    0
s2    0
s3    1
s4    1
s5    1
s6    3
dtype: int64

In [44]:
# 4. 计算缺失率
print("每一列缺失率:")
print(df.isnull().sum() / df.shape[0])

print("每一行缺失率:")
print(df.isnull().sum(axis=1) / len(df.columns))
print(df.isnull().sum(axis=1) / df.shape[1])

每一列缺失率:
name      0.000000
age       0.166667
score     0.333333
gender    0.500000
dtype: float64
每一行缺失率:
s1    0.00
s2    0.00
s3    0.25
s4    0.25
s5    0.25
s6    0.75
dtype: float64
s1    0.00
s2    0.00
s3    0.25
s4    0.25
s5    0.25
s6    0.75
dtype: float64

In [46]:
# 1. 创建一个数据表
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, np.nan],
    "score": [85, 90, np.nan, 92, 85, np.nan],
    "gender": ["女", "男", "男", np.nan, np.nan,np.nan]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print("原数据:")
print(df)

# 2. 删除含有缺失值的行
df_drop_na = df.dropna()
print("删除缺失值后的数据:")
print(df_drop_na)

# 3. 删除含有缺失值的列
df_drop_na_by_col = df.dropna(axis=1)
print("删除含有缺失值的列:")
print(df_drop_na_by_col)


# 4. 删除 score数据缺失的行
df_drop_na_by_col = df.dropna(subset=['score'])
print("删除 score数据缺失的行:")
print(df_drop_na_by_col)

原数据:
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0    NaN
s5      Eva  20.0   85.0    NaN
s6    Frank   NaN    NaN    NaN
删除缺失值后的数据:
     name   age  score gender
s1  Alice  20.0   85.0      女
s2    Bob  22.0   90.0      男
删除含有缺失值的列:
       name
s1    Alice
s2      Bob
s3  Charlie
s4    David
s5      Eva
s6    Frank
删除 score数据缺失的行:
     name   age  score gender
s1  Alice  20.0   85.0      女
s2    Bob  22.0   90.0      男
s4  David  20.0   92.0    NaN
s5    Eva  20.0   85.0    NaN

In [55]:
# 1. 创建一个数据表
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, np.nan],
    "score": [85, 90, np.nan, 92, 85, np.nan],
    "gender": ["女", "男", "男", np.nan, np.nan,np.nan]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print("原数据:")
print(df)

# 2. 填充全局缺失值
df_fill_na = df.fillna(0)
print("填充缺失值为0:")
print(df_fill_na)

# 3. 填充某一列的缺失值
df_fill_na_by_col = df.fillna({'gender': '男'})
print("填充【gender】缺失值为男:")
print(df_fill_na_by_col)

原数据:
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0    NaN
s5      Eva  20.0   85.0    NaN
s6    Frank   NaN    NaN    NaN
填充缺失值为0:
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    0.0      男
s4    David  20.0   92.0      0
s5      Eva  20.0   85.0      0
s6    Frank   0.0    0.0      0
填充【gender】缺失值为男:
       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0    NaN      男
s4    David  20.0   92.0      男
s5      Eva  20.0   85.0      男
s6    Frank   NaN    NaN      男

In [56]:
# 用均值填充数值列，用众数填充非数值列
numeric_cols = df.select_dtypes(include='number').columns

for col in numeric_cols:
    df.loc[df[col].isna(), col] = df[col].mean()  # 使用均值填充数值列

#df[col].mode()  # 查看非数值列的众数
non_numeric_cols = df.select_dtypes(exclude='number').columns

for col in non_numeric_cols:
    mode_value = df[col].mode()[0] if not df[col].mode().empty else np.nan  # 使用众数填充非数值列
    df.loc[df[col].isna(), col] = mode_value

df

       name   age  score gender
s1    Alice  20.0   85.0      女
s2      Bob  22.0   90.0      男
s3  Charlie  21.0   88.0      男
s4    David  20.0   92.0      男
s5      Eva  20.0   85.0      男
s6    Frank  20.6   88.0      男

## 4、完成apply和map的练习

In [58]:
# 使用案例
# 创建一个学生表
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4'], columns=['name', 'age', 'score', 'gender'])
print(df)

# 比如需要把年龄数据乘以2
def mul_two(x):
    return x * 2
df['age'] = df['age'].apply(mul_two)
# 再次打印一下看看变化
print(df)

# 也可以直接使用匿名函数
df['age'] = df['age'].apply(lambda x: x * 2)
print(df)

       name  age  score gender
s1    Alice   20     85      女
s2      Bob   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
       name  age  score gender
s1    Alice   40     85      女
s2      Bob   44     90      男
s3  Charlie   42     78      男
s4    David   40     92      男
       name  age  score gender
s1    Alice   80     85      女
s2      Bob   88     90      男
s3  Charlie   84     78      男
s4    David   80     92      男

In [59]:
#处理DataFrame
# apply也可以处理DataFrame数据
# 和Series的区别在于，操作DataFrame的时候要指定轴

df = pd.DataFrame(np.arange(12).reshape(3,4), index=['s1', 's2', 's3'], columns=['c1', 'c2', 'c3', 'c4'])
print(df)

# 1. 统计每个列的数据个数
print(df.apply(lambda x: x.count(), axis=0))        # 默认轴是0，即列

# 2. 统计每个列的最大值
print(df.apply(lambda x: x.max(), axis=0))          # 默认轴是0，即列
print(type(df.apply(lambda x: x.max(), axis=0)))

# 3. 统计每个行的数据个数
print(df.apply(lambda x: x.count(), axis=1))        # 轴1, 是行

    c1  c2  c3  c4
s1   0   1   2   3
s2   4   5   6   7
s3   8   9  10  11
c1    3
c2    3
c3    3
c4    3
dtype: int64
c1     8
c2     9
c3    10
c4    11
dtype: int64
<class 'pandas.core.series.Series'>
s1    4
s2    4
s3    4
dtype: int64

In [61]:
import pandas as pd

df = pd.DataFrame({
    'a': [1, 2, 3],
    'b': [10, 20, 30]
}, index=['s1', 's2', 's3'])
print(df)

result1 = df.apply(lambda col: print(col))
result1 = df.apply(lambda col: col['s1'] + col['s2'] + col['s3'])
print(result1)

result = df.apply(lambda row: print(row), axis=1)
result = df.apply(lambda row: row['a'] + row['b'], axis=1)
result

    a   b
s1  1  10
s2  2  20
s3  3  30
s1    1
s2    2
s3    3
Name: a, dtype: int64
s1    10
s2    20
s3    30
Name: b, dtype: int64
a     6
b    60
dtype: int64
a     1
b    10
Name: s1, dtype: int64
a     2
b    20
Name: s2, dtype: int64
a     3
b    30
Name: s3, dtype: int64

s1    11
s2    22
s3    33
dtype: int64

In [67]:
import numpy as np
import pandas as pd

# 初始化3行4列的DataFrame，包含2个np.nan
df = pd.DataFrame(np.random.choice([1, 2, 3, 4, np.nan], size=(3, 4)), columns=list('ABCD'))
print(df)

# 使用count统计非NaN值
count_result = df.count()
print(count_result)

     A    B    C    D
0  4.0  4.0  4.0  4.0
1  NaN  1.0  3.0  3.0
2  3.0  NaN  4.0  3.0
A    2
B    2
C    3
D    3
dtype: int64

In [68]:
# 创建一个学生二维表
data = {
    "name": ["Alice", "Bob", "Charlie", "David"],
    "age": [20, 22, 21, 20],
    "score": [85, 90, 78, 92],
    "gender": ["女", "男", "男", "男"]
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4'], columns=['name', 'age', 'score', 'gender'])
print(df)

# 案例1: 将性别数据映射为male和female
# 通过字典映射
gender_map = {
    "男": "male",
    "女": "female"
}
df['gender'] = df['gender'].map(gender_map)
print(df)

# 案例2: 将性别数据映射为1和0
# 通过函数映射
df['gender'] = df['gender'].map(lambda x: 1 if x == "male" else 0)
print(df)

       name  age  score gender
s1    Alice   20     85      女
s2      Bob   22     90      男
s3  Charlie   21     78      男
s4    David   20     92      男
       name  age  score  gender
s1    Alice   20     85  female
s2      Bob   22     90    male
s3  Charlie   21     78    male
s4    David   20     92    male
       name  age  score  gender
s1    Alice   20     85       0
s2      Bob   22     90       1
s3  Charlie   21     78       1
s4    David   20     92       1

In [73]:
# 案例3: 给所有的数据乘以2
df2 = pd.DataFrame(np.arange(12).reshape(3,4), index=['s1', 's2', 's3'], columns=['c1', 'c2', 'c3', 'c4'])
print(df2)
df3 = df2.map(lambda x: x * 2)
print(df3)
df4=df2.apply(lambda x: x * 2)
print(df4)
print(df2)

    c1  c2  c3  c4
s1   0   1   2   3
s2   4   5   6   7
s3   8   9  10  11
    c1  c2  c3  c4
s1   0   2   4   6
s2   8  10  12  14
s3  16  18  20  22
    c1  c2  c3  c4
s1   0   2   4   6
s2   8  10  12  14
s3  16  18  20  22
    c1  c2  c3  c4
s1   0   1   2   3
s2   4   5   6   7
s3   8   9  10  11

In [ ]:
def max_minus_min(x):
    """
    计算列的最大值与最小值的差
    """
    return x.max() - x.min()


# 应用到 DataFrame 的每一列
df4 = df2.apply(max_minus_min)
print(df4)
# df5=df2.map(max_minus_min)
# print(df5)

    c1  c2  c3  c4
s1   0   1   2   3
s2   4   5   6   7
s3   8   9  10  11
c1    8
c2    8
c3    8
c4    8
dtype: int64

In [76]:
import pandas as pd
import numpy as np
df_float = pd.DataFrame(np.random.randn(3, 4), columns=['c1', 'c2', 'c3', 'c4'])
print(df_float)

def my_round(x):
    return f'{x:0.2f}'
df_float_2 = df_float.map(my_round)
print(df_float_2)
# df_float_2 = df_float.apply(my_round)
# print(df_float_2)

         c1        c2        c3        c4
0 -0.151818  2.237942  0.488083  2.502239
1  0.631549  0.066620 -0.375982 -2.768336
2 -0.826240 -1.505745  0.733338  1.053235
      c1     c2     c3     c4
0  -0.15   2.24   0.49   2.50
1   0.63   0.07  -0.38  -2.77
2  -0.83  -1.51   0.73   1.05

## 5、完成groupby与agg的联系

In [77]:

# 创建一个数据表
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, 30],
    "score": [85, 90, 88, 92, 85, 72],
    "gender": ["女", "男", "男", '男', '女', '男']
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print(df)

# 1. 单列统计
print("单列统计:")
print(df['age'].describe())
print('-'*20)

# 2. 多列统计
print("多列统计:")
print(df[['age', 'score']].describe())
print('-'*20)

# 3. 所有列进行统计(只会对，也只能对数值列进行统计)
print('所有列统计')
print(df.describe(include='all'))

# 4. 常用统计函数
print("常用统计函数:")
print(df['age'].mean())             # 平均数
print(df['age'].median())           # 中位数
print(df['age'].min())              # 最小值
print(df['age'].max())              # 最大值
print(df['age'].std())              # 标准差
print(df['age'].sum())              # 求和

       name  age  score gender
s1    Alice   20     85      女
s2      Bob   22     90      男
s3  Charlie   21     88      男
s4    David   20     92      男
s5      Eva   20     85      女
s6    Frank   30     72      男
单列统计:
count     6.000000
mean     22.166667
std       3.920034
min      20.000000
25%      20.000000
50%      20.500000
75%      21.750000
max      30.000000
Name: age, dtype: float64
--------------------
多列统计:
             age      score
count   6.000000   6.000000
mean   22.166667  85.333333
std     3.920034   7.089899
min    20.000000  72.000000
25%    20.000000  85.000000
50%    20.500000  86.500000
75%    21.750000  89.500000
max    30.000000  92.000000
--------------------
所有列统计
         name        age      score gender
count       6   6.000000   6.000000      6
unique      6        NaN        NaN      2
top     Alice        NaN        NaN      男
freq        1        NaN        NaN      4
mean      NaN  22.166667  85.333333    NaN
std       NaN   3.920034   7.089899    NaN
min       NaN  20.000000  72.000000    NaN
25%       NaN  20.000000  85.000000    NaN
50%       NaN  20.500000  86.500000    NaN
75%       NaN  21.750000  89.500000    NaN
max       NaN  30.000000  92.000000    NaN
常用统计函数:
22.166666666666668
20.5
20
30
3.920034013457877
133

In [79]:
# 1. 单列多函数聚合
score_stats = df['score'].agg([
    "mean", "max", "min"
])
print(score_stats)
print(type(score_stats))

# 2. 多列分别聚合
multi_col_stats = df.agg({
    "age": ["mean", "count"],    # age列：均值、非空计数
    "score": ["median", "std"]   # score列：中位数、标准差
})
print(multi_col_stats)

mean    85.333333
max     92.000000
min     72.000000
Name: score, dtype: float64
<class 'pandas.core.series.Series'>
              age      score
mean    22.166667        NaN
count    6.000000        NaN
median        NaN  86.500000
std           NaN   7.089899

In [83]:
# 创建一个数据表
data = {
    "name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "age": [20, 22, 21, 20, 20, 30],
    "score": [85, 90, 88, 92, 82, 72],
    "gender": ["女", "男", "男", '男', '女', '男']
}
df = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5', 's6'], columns=['name', 'age', 'score', 'gender'])
print(df)

# 1. 分组
group_by_gender = df.groupby('gender')
print(group_by_gender)
print(type(group_by_gender))
# 2. 分组之后统计
print("分组之后统计:")
print(group_by_gender.describe())


# 3. 分组之后求均值
print("分组之后求均值:")
mean_score = df.groupby('gender')['score'].mean().add_prefix('mean_')
print(mean_score)
print(type(mean_score))

       name  age  score gender
s1    Alice   20     85      女
s2      Bob   22     90      男
s3  Charlie   21     88      男
s4    David   20     92      男
s5      Eva   20     82      女
s6    Frank   30     72      男
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A8FFB89B80>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
分组之后统计:
         age                                                 score        \
       count   mean       std   min    25%   50%   75%   max count  mean
gender
女        2.0  20.00  0.000000  20.0  20.00  20.0  20.0  20.0   2.0  83.5
男        4.0  23.25  4.573474  20.0  20.75  21.5  24.0  30.0   4.0  85.5


             std   min    25%   50%    75%   max
gender
女       2.121320  82.0  82.75  83.5  84.25  85.0
男       9.146948  72.0  84.00  89.0  90.50  92.0
分组之后求均值:
gender
mean_女    83.5
mean_男    85.5
Name: score, dtype: float64
<class 'pandas.core.series.Series'>

In [87]:
# 定义自定义极值函数
def gender_extremum(series):
    return f"最大值:{series.max()} 最小值:{series.min()}"

# 按性别分组，对score求极值（自定义函数）
gender_score_extremum = df.groupby('gender')['score'].agg(gender_extremum)
print(gender_score_extremum)

gender
女    最大值:85 最小值:82
男    最大值:92 最小值:72
Name: score, dtype: object

In [90]:
# 4. 分组之后进行转换
df["score_mean"] = df.groupby("gender")["score"].transform('mean')
print(df[["name", "gender", "score", "score_mean"]])
df["score_minus_mean"] = df["score"]-df.groupby("gender")["score"].transform('mean')
print(df)
print(df.groupby("gender")["score"])

# 需求：按性别分组，计算每个学生分数在组内的降序排名(传入自定义函数)
# ascending=False 表示降序
df["score_rank"] = df.groupby("gender")["score"].transform(lambda group: group.rank(ascending=False))
print(df[["name", "gender", "score", "score_rank"]])

       name gender  score  score_mean
s1    Alice      女     85        83.5
s2      Bob      男     90        85.5
s3  Charlie      男     88        85.5
s4    David      男     92        85.5
s5      Eva      女     82        83.5
s6    Frank      男     72        85.5
       name  age  score gender  score_mean  score_minus_mean  score_rank
s1    Alice   20     85      女        83.5               1.5         1.0
s2      Bob   22     90      男        85.5               4.5         2.0
s3  Charlie   21     88      男        85.5               2.5         3.0
s4    David   20     92      男        85.5               6.5         1.0
s5      Eva   20     82      女        83.5              -1.5         2.0
s6    Frank   30     72      男        85.5             -13.5         4.0
<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001A8FFBF49B0>
       name gender  score  score_rank
s1    Alice      女     85         1.0
s2      Bob      男     90         2.0
s3  Charlie      男     88         3.0
s4    David      男     92         1.0
s5      Eva      女     82         2.0
s6    Frank      男     72         4.0

## 6 
1)机器学习的训练过程，是指利用已有数据，通过算法不断调整模型参数，使模型学会输入（特征）与输出（标签）之间的映射关系，从而在新数据上做出较准确预测的过程。
一般包括：数据准备 → 模型选择 → 训练 → 评估 → 调优 → 测试。
2)特征是用来描述样本属性的输入变量，是模型进行学习和预测的依据。
3)标签是样本对应的真实输出结果，也是模型学习的目标。
4)训练集是用于训练模型的数据集合，模型通过训练集学习特征与标签之间的关系，并调整自身参数。
5)测试集是用于评估模型性能的数据集合，在模型训练完成后使用，用来检验模型在未见过数据上的泛化能力。
6)监督学习是指训练数据中每个样本都包含特征和对应标签，模型通过已知正确答案进行学习。
常见任务包括：分类和回归。
7)无监督学习是指训练数据没有标签，模型通过挖掘数据内部结构或分布规律进行学习。
常见任务包括：聚类、降维。
8)分类问题是指模型预测的输出是离散类别。
9)回归问题是指模型预测的输出是连续数值。
10)过拟合是指模型在训练集上表现很好，但在测试集或新数据上表现很差，说明模型过度学习了训练数据中的噪声和细节，泛化能力不足。
11)欠拟合是指模型过于简单，无法很好地学习训练数据中的规律，在训练集和测试集上表现都较差。